{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary ml-2" href="/userinfo" role="button">Back</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Change Student Roster</u></h1>
        </div>
        <div class="mr-3">
            <a href="logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div> 
    <br/>
    {% if action == 'add' %}
        <div class="container-fluid" style="font-size:1.5vw">
            <h3><u>Enter the following data for your new student</u>:</h3>
            {% with messages = get_flashed_messages(with_categories=True) %}
                <div class='col-4'>
                    <form action="/changeroster/add" method="post">
                        <div class="form-group row">
                            <div class="col-5 wrapper text-right">
                                <label style="color:blue" for='name'>Name:</label><br/>
                                <label style="color:green" for='school_email'>School email:</label><br/>
                                <label style="color:red" for='password'>Password:</label>
                            </div>
                            <div class="col-3 wrapper text-left">
                                <input name="name" required type='text' value="{{name}}" size = "25"><br/>
                                <input name="school_email" required type='email' value="{{email}}" size = "25"><br/>
                                <input name="password" type="password" placeholder="Default set at '118'." size = "25" disabled>
                            </div>
                        </div>
                        {% if messages %}
                            <span class='{{messages[0][0]}}' style="font-size: 14pt">{{messages[0][1]}}</span>
                        {% endif %}
                        <div class='wrapper text-center'>
                            <input type="submit" class="btn btn-success mb-2" value="Add">
                        </div>
                    </form>
                </div>
            {% endwith %}
        </div>
    {% elif not changes %}
        <div class="container-fluid" style="font-size:1.5vw">
            <h3><u>Select the student(s) to remove or transfer from your roster</u>:</h3>
            <div class='col-6'>
                <div>
                    <table class="table table-sm table-bordered wrapper text-center" style="font-size:1.1vw">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col" style="color:blue">e-mail</th>
                                <th scope="col" style="color:purple">Class</th>
                                <th scope="col" style="color:red">WARNING!  Changes cannot be undone.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="formid" action="/changeroster/remove" method="post">
                                {% for student in roster %}
                                    <tr>
                                        <td>{{student.name}}</td>
                                        <td style="color:blue">{{student.school_email}}</td>
                                        <td style="color:purple">{{student.course}}</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{student.id}}" value="remove">
                                                <label class="form-check-label" for="{{student.id}}">Remove</label> 
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{student.id}}" value="transfer">
                                                <label class="form-check-label" for="{{student.id}}">Transfer</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{student.id}}" value="keep" checked>
                                                <label class="form-check-label" for="{{student.id}}">Keep</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
                <div class='wrapper text-center'>
                    <input form='formid' type="submit" class="btn btn-danger" value="Remove/Transfer">
                    <input form='formid' name="changes"  type="hidden" value="False">
                </div>
            </div>
        </div>
    {% elif changes and not confirmed %}
        <div class="container-fluid" style="font-size:1.5vw">
            {% with messages = get_flashed_messages(with_categories=True) %}
                <form id="confirm" action="/changeroster/remove" method="post">
                    <div class="row justify-content-between">
                        <div class='col-6'>
                            <p style="color:brown"><u>The following students will transfer to another teacher</u>:</p>
                            {% if transfers %}
                                <div>
                                    <table class="table table-sm table-bordered wrapper text-center" style="font-size:1.1vw">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col" style="color:blue">e-mail</th>
                                                <th scope="col" style="color:red">New teacher's e-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in range(transfers|length) %}
                                                <tr>
                                                    <td>{{transfers[student].name}}</td>
                                                    <td style="color:blue">{{transfers[student].school_email}}</td>
                                                    <td>
                                                        <input name="{{transfers[student].id}}"  type="email" value="{{transfers[student].teacher_email}}">
                                                        {% if messages and errors %}   
                                                            {% set message = messages[student] %}                                     
                                                            <span class='{{message[0]}}' style="font-size: 14pt">{{message[1]}}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>No transfers.</p>
                            {% endif %}
                        </div>
                        <div class='col-5'>
                            <p style="color:purple"><u>The following students will be deleted from the database</u>:</p>
                            {% if removals %}
                                <ul>
                                    {% for student in removals %}
                                        <li style="color:purple">{{student.name}} ({{student.school_email}})</li>
                                        <input name="remove{{student.id}}"  type="hidden" value="{{student.id}}">
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No removals.</p>
                            {% endif %}
                        </div>
                    </div>
                </form>
            {% endwith %}
            <br/>
            <div class='wrapper text-center'>
                <input form='confirm' type="submit" class="btn btn-danger" value="Make Changes">
                <a class="btn btn-primary ml-2" href="/userinfo" role="button">Cancel</a>
                <input form='confirm' name="removals"  type="hidden" value={{removals}}>
                <input form='confirm' name="changes"  type="hidden" value="True">
            </div>
        </div>
    {% else %}
        <div class="container-fluid wrapper text-center" style="font-size:1.5vw">
            <h3><u>The requested changes have been made</u></h3>
            <div class='wrapper text-center'>
                <a class="btn btn-success ml-2" href="/userinfo" role="button">Ok</a>
            </div>
        </div>
    {% endif %}
{% endblock %}