{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary" href="/userinfo" role="button">Back</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Class Rosters</u></h1>
        </div>
        <div class="mr-3">
            <a href="logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div> 
    <br/>
    <div class="container-fluid" style="font-size:1.5vw">
        <p><u>Select which class each student attends</u>: <input form="formid" class="btn btn-sm btn-success ml-2" type="submit" value="Assign"></p>
        <div class="table-responsive">
            <table class="table table-bordered wrapper text-center" style="font-size:1.1vw">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" style="color:blue">e-mail</th>
                        <th scope="col" style="color:red">Current Course</th>
                        <th scope="col">Class Options</th>
                    </tr>
                </thead>
                <tbody>
                    <form id="formid" action="/classlists" method="post">
                        {% for student in roster %}
                            <tr>
                                <td>{{student.name}}</td>
                                <td style="color:blue">{{student.school_email}}</td>
                                <td style="color:red">{{student.course}}</td>
                                <td>
                                    {% for item in range(classTitles|length) %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{student.id}}" value="{{classTitles[item]}}" required {% if student.course|string == classTitles[item] %} checked {% endif %}>
                                            <label class="form-check-label" for="{{student.id}}">{{classTitles[item]}}</label>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                   </form>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}