{% extends "base.html" %}

{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Counting Significant Figures</u></h1>
        <h2>Identify the number of significant figures in: <span style="color:blue">{{value}}</span></h2><br/>
        {% with messages = get_flashed_messages(with_categories=True) %} 
        <form action="/countingsf" method="post">
            <label for="answer" style="font-size: 16pt; color:blue"># of sig figs: </label>
            <input name="answer" type="text" value="{{answer}}" style="font-size: 16pt" size = "1"><br/>
            {% for category,message in messages %}
                {% if category != 'error' %}
                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                {% else %}
                    <div class="btn-group dropright">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                            {{message}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" style="font-size: 24pt; color:red">{{sigFigs}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <br/><br/>
            <input name="actualSigFigs" type="hidden" value="{{sigFigs}}">
            <input name="value" type="hidden" value="{{value}}">
        </form>
        {% endwith %}
        <p style="font-size: 16pt; color:purple">(Hit 'Return' or 'Enter' to check your answer)</p>
        <br/>
        <a class="btn btn-primary" href="countingsf" role="button">Next Practice Number</a>
        <br/><br/>
        <div>
            <a class="btn btn-danger" href='/sigfigindex' role="button">Sig Figs Menu</a>
        </div>
    </div>
{% endblock %}    