{% extends "base.html" %}
<!-- Remember this: https://stackoverflow.com/questions/6865081/add-subscript-to-numbers-on-the-fly-as-user-types-using-jquery -->
{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Formulas from Names</u></h1>
        <br/>
        <h2>Provide the formula for: <span style="color:blue">{{name}}</span></h2></br>
        {% with messages = get_flashed_messages(with_categories=True) %} 
            <form action="/formulasfromnames/{{type}}" method="post">
                <div class="row justify-content-center" style="font-size:1.75vw">
                    <div class="col-1 wrapper text-right no-gutters">
                        <label for="answer" style="color:blue">Formula:</label>
                    </div>
                    <div class="col-2 wrapper text-center">
                        <input onkeyup="display(this)" name="answer" type="text" value="{{answer}}" size = "10"></br>
                    </div>
                    <div class="col-1 wrapper text-left">
                        {% if correct %}
                            <label for="answer" style="color:brown" id="dynamicFormula">{% for item in formula %}{% if item in digits %}<sub>{{item}}</sub>{% else %}{{item}}{% endif %}{% endfor %}</label>
                        {% else %}
                            <label for="answer" style="color:brown" id="dynamicFormula"></label>
                        {% endif %}
                    </div>
                </div>
                {% for category,message in messages %}
                    {% if category != 'error' %}
                        <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                    {% else %}
                        <div class="btn-group dropright">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                {{message}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="dropdown-item" style="font-size: 24pt; color:red">{% for item in formula %}{% if item in digits %}<sub>{{item}}</sub>{% else %}{{item}}{% endif %}{% endfor %}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <br/>
                <input name="name" type="hidden" value="{{name}}">
                <input name="formula" type="hidden" value="{{formula}}">
                <input name="firstAttempt" type="hidden" value="{{firstAttempt}}">
                <script>
                    function display(entry)
                    {
                        var k=entry.value;
                        var result = '';
                        digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                        for (char in k){
                            if (k[char] in digits){
                                result += k[char].sub();
                            }
                            else{
                                result += k[char];
                            }
                        }
                        document.getElementById("dynamicFormula").innerHTML = result;
                    }
                </script>
            </form>
        {% endwith %}
        <p style="font-size: 16pt; color:purple">(Hit 'Return' or 'Enter' to check your answer)</p>
        <div>
            <a class="btn btn-primary" href="{{type}}" role="button">Next Practice Name</a>
            <a class="btn btn-danger" href='/namingindex' role="button">Naming Menu</a>
        </div>
        <hr>
        <div>
            Percent Correct = {{formCorrect}}/{{formAttempts}} = {{ratioCorrect}}%
        </div>
        <hr>
    </div>
{% endblock %}    