{% extends "loginbase.html" %}

{% block content %}
    <h1 class="wrapper text-center"><u>Track your progress: Chemistry Skills</u></h1>
    <br/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 border wrapper text-center">
                <h2 style="color:blue"><u>Sign In</u></h2>
                <form action="/login" method="post">
                    <div class="form-group row">
                        <label for="email" class="col-sm col-form-label wrapper text-right">School e-mail:</label>
                        <div class="col-sm">
                            <input type="email" id="email" placeholder="Nobody@school.org" size="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm col-form-label wrapper text-right">Password:</label>
                        <div class="col-sm">
                            <input type="password" id="password" placeholder="8 - 20 characters, no spaces" size="30">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success mb-2" value="Login">
                </form>
            </div>
            <div class="col-1 wrapper text-center align-self-center">
                <h1 style="color:red"><em>OR...</em></h1>
            </div>
            <div class = 'col-4 border wrapper text-center'>
                <h2 style="color:brown"><u>Register for an account</u></h2>
                <a href="register" class="btn btn-primary mb-2" role="button">Sign Up</a>
            </div>
        </div> 
    </div>
{% endblock %}  