{% extends "base.html" %}

{% block content %}
    <h1 class="wrapper text-center"><u>Track your progress: Chemistry Skills</u></h1>
    <br/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 border wrapper text-center">
                <h2 style="color:blue"><u>Sign In</u></h2>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    <form action="/login" method="post">
                        <div class="form-group row">
                            <label for="email" class="col-sm col-form-label wrapper text-right">School e-mail:</label>
                            <div class="col-sm">
                                <input type="email" name="email" size="20" value="{{email}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm col-form-label wrapper text-right">Password:</label>
                            <div class="col-sm">
                                <input type="password" name="password" size="20">
                            </div>
                        </div>
                        {% if messages %}
                            <span class='{{messages[0][0]}}' style="font-size: 14pt">{{messages[0][1]}}</span>
                        {% endif %}
                        <br/>
                        <input type="submit" class="btn btn-success mb-2" value="Login">
                    </form>
                {% endwith %}
            </div>
            <div class="col-1 wrapper text-center align-self-center">
                <h1 style="color:red"><em>OR...</em></h1>
            </div>
            <div class = 'col-4 border wrapper text-center'>
                <h2 style="color:brown"><u>Register for an account</u></h2>
                <a href="/register" class="btn btn-primary mb-2" role="button">Sign Up</a>
            </div>
        </div> 
    </div>
{% endblock %}  