{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary" href="/userinfo" role="button" disabled>User Info</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Chemistry Skills Home</u></h1>
        </div>
        <div class="mr-3">
            <a href="logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div>  
    <br/>
    {% if role|lower == 'student' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col wrapper text-center">
                    <h1 style="color:green"><u>Tutorials & Practice</u></h1>
                    <h2 style="color:green">Select a topic:</h2>
                    <div class=btn-group-vertical>
                        <a class="btn btn-success mb-2" href="/namingindex" role="button">Chemical Names & Formulas</a>
                        <a href="/sigfigindex" class="btn btn-success mb-2" role="button">Significant Figures & Scientific Notation</a>
                        <a href="/" class="btn btn-success mb-2 disabled" role="button">Metric System</a>
                        <a class="btn btn-success disabled" href="/" role="button">Other</a>
                    </div>
                </div>
                <div class = 'col wrapper text-center'>
                    <h1 style="color:blue"><u>Skill Checks</u></h1>
                    <h2 style="color:blue">Select an option:</h2>
                    <div class=btn-group-vertical>
                        <a class="btn btn-primary mb-2" href="/namingquizmenu" role="button">Chemical Names & Formulas</a>
                        <a href="/sfquiz" class="btn btn-primary mb-2" role="button">Significant Figures & Scientific Notation</a>
                        <a href="/" class="btn btn-primary mb-2 disabled" role="button">Metric System</a>
                        <a class="btn btn-primary disabled" href="/" role="button">Other</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container-fluid wrapper text-center">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h2 style="color:gray"><u>Planned teacher options</u>:</h2>
                        <ul class="wrapper text-left" style="font-size:1.5vw">
                            <li style="color:blue">Retrieve a roster of all students or students in a selected class (READY)</li>
                            <li style="color:green">View a table showing results for all skills for all students  (READY)</li>
                            <li style="color:purple">View a table showing results for all skills for selected students (READY)</li>
                            <li style="color:red">View a table showing results for selected skills for all students</li>
                            <li style="color:brown">View a table showing results for selected skills for selected students</li>
                            <li>'Student View' option to examine what the students see</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid wrapper text-center">
                <h3>(Login as a student to see tutorial, practice and assessment options)</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}  