{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary" href="/" role="button">Home</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Naming Compounds</u></h1>
        </div>
        <div class="mr-3">
            <a href="/logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justifuy-content-center">
            <div class="col">
                <div class = 'wrapper text-center'>
                    <h1 style="color:green"><u>Tutorials</u></h1>
                    <h2 style="color:green">Select a topic:</h2>
                    <div class=btn-group-vertical>
                        <a href="ionicnamingtutorial/1" class="btn btn-success" role="button">Names from Formulas (Ionic)</a>
                        <a href="covalentnamingtutorial/1" class="btn btn-success mb-2" role="button">Names from Formulas (Covalent/Molecular)</a>
                        <a class="btn btn-success" href="ffntutorial/1" role="button">Formulas from Names (Ionic)</a>
                        <a class="btn btn-success" href="ffntutorial/2" role="button">Formulas from Names (Covalent/Molecular)</a>
                    </div>
                </div>
            </div>
            <div class = 'col'>
                <div class='wrapper text-center'>
                    <h1 style="color:blue"><u>Practice</u></h1>
                    <h2 style="color:blue">Select an option:</h2>
                    <div class=btn-group-vertical>
                        <a href="namesfromformulas/ionic" class="btn btn-primary" role="button">Names from Formulas (Ionic)</a>
                        <a href="namesfromformulas/molecular" class="btn btn-primary mb-2" role="button">Names from Formulas (Covalent/Molecular)</a>
                        <a class="btn btn-primary" href="formulasfromnames/ionic" role="button">Formulas from Names (Ionic)</a>
                        <a class="btn btn-primary mb-2" href="formulasfromnames/molecular" role="button">Formulas from Names (Covalent/Molecular)</a>
                        <a href="allnaming" class="btn btn-danger" role="button">Practice All Naming</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  