{% extends "quizbase.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary" href="/" role="button" disabled>Main Menu</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Skill Check - {{title}}</u></h1>
        </div>
        <div class="mr-3">
            <a href="logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div> 
    <div class='wrapper text-left'>
        {% if choice == 'ffnI' or choice == 'ffnC' %}
            <h2 class="ml-2" style="color:brown"><u>{{instructions[1]}}</u>:</h2>
        {% else %}
            <h2 class="ml-2" style="color:brown"><u>{{instructions[0]}}</u>:</h2>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <form action="/namingquiz" method="post">
            <div class="container-fluid wrapper text-center" style="font-size:1.3vw">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <ol class="wrapper text-left mt-3">
                            {% for item in range(5) %}
                                <li style="color:blue">
                                    <div class="row">
                                        <div class="col-6 wrapper text-right">
                                            {% if messages %}
                                                {% set message = messages[item] %}                                        
                                                <span class='{{message[0]}}' style="font-size: 14pt">{{message[1]}}</span>
                                            {% endif %}
                                            <label for="answer{{item}}"><span>
                                                {{practiceList[item][0]}}
                                                </span>=</label>
                                        </div>
                                        <div class="col-3 wrapper text-center">
                                            <input onkeyup="display(this,{{item}})" name="answer{{item}}" type="text" value="{{answers[item]}}" size = "10"><br/>
                                        </div>
                                        <div class="col-1 wrapper text-left">
                                            {% if correct[item] %}
                                                <label for="answer{{item}}" style="color:brown" id="dynamicFormula{{item}}">{% for item in practiceList[item][1] %}{% if item in digits %}<sub>{{item}}</sub>{% else %}{{item}}{% endif %}{% endfor %}</label>
                                            {% else %}
                                                <label for="answer{{item}}" style="color:brown" id="dynamicFormula{{item}}"></label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <br/>
                                <input name="name{{item}}" type="hidden" value="{{practiceList[item][0]}}">
                                <input name="formula{{item}}" type="hidden" value="{{practiceList[item][1]}}">
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="col-6">
                        <ol start="6" class="wrapper text-left mt-3" style="font-size: 1.3vw">
                            {% for item in range(5,10) %}
                                <li style="color:purple">
                                    <div class="row">
                                        <div class="col-6 wrapper text-right">
                                            {% if messages %}
                                                {% set message = messages[item] %}                                        
                                                <span class='{{message[0]}}' style="font-size: 14pt">{{message[1]}}</span>
                                            {% endif %}
                                            <label for="answer{{item}}"><span>
                                                {{practiceList[item][0]}}
                                                </span>=</label>
                                        </div>
                                        <div class="col-3 wrapper text-center">
                                            <input onkeyup="display(this,{{item}})" name="answer{{item}}" type="text" value="{{answers[item]}}" size = "10"><br/>
                                        </div>
                                        <div class="col-1 wrapper text-left">
                                            {% if correct[item] %}
                                                <label for="answer{{item}}" style="color:brown" id="dynamicFormula{{item}}">{% for item in practiceList[item][1] %}{% if item in digits %}<sub>{{item}}</sub>{% else %}{{item}}{% endif %}{% endfor %}</label>
                                            {% else %}
                                                <label for="answer{{item}}" style="color:brown" id="dynamicFormula{{item}}"></label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <br/>
                                <input name="name{{item}}" type="hidden" value="{{practiceList[item][0]}}">
                                <input name="formula{{item}}" type="hidden" value="{{practiceList[item][1]}}">
                            {% endfor %}
                        </ol>
                    </div>
                    <input name="choice" type="hidden" value="{{choice}}">
                    <input name="listAttempt" type="hidden" value="{{listAttempt}}">
                    <input name="numCorrect" type="hidden" value="{{numCorrect}}">
                    <script>
                        function display(entry,row)
                        {
                            var k=entry.value;
                            var result = '';
                            digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                            for (char in k){
                                if (k[char] in digits){
                                    result += k[char].sub();
                                }
                                else{
                                    result += k[char];
                                }
                            }
                            document.getElementById("dynamicFormula"+String(row)).innerHTML = result;
                        }
                    </script>
                </div>
                {% if tally != 10 and listAttempt == 1 %}
                    <input class="btn btn-success" type="submit" value="Submit">
                {% elif tally != 10 and listAttempt > 1 %}
                    <input class="btn btn-success mr-3" type="submit" value="Check corrections">
                    <a class="btn btn-primary" href="/updateprogress" role="button">Update progress</a>
                {% else %}
                    <a class="btn btn-primary" href="/updateprogress" role="button">Update progress</a>
                {% endif %}
                {% if listAttempt > 1 %}
                    <div>
                        <p style="color:red">You scored {{numCorrect}}/{{numQuestions}} = {{ratioCorrect}}% on your first try.</p>
                        {% if tally != 10 %}
                            <p style="color:brown">(Making corrections will help boost your skill).</p>
                        {% endif %}
                        </div>
                {% endif %}
            </div>
        </form>
    {% endwith %}
{% endblock %}