{% extends "base.html" %}

{% block content %}
    <h1 class="wrapper text-center"><u>Create an account to track Chemistry skills</u></h1>
    <br/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-5 border wrapper text-center">
                <h2 style="color:brown"><u>Already have an account?</u></h2>
                <a href="login" class="btn btn-primary mb-2" role="button">Sign In</a>
            </div>
            <div class="col-1 wrapper text-center align-self-center">
                <h1 style="color:red"><em>OR...</em></h1>
            </div>
            {% if progress == 0 %}
                <div class="col-5 border wrapper text-center">
                    <h2 style="color:purple"><u>Register</u></h2>
                    <form action="/register" method="post" style="font-size:1.5vw">
                        <label for="choice">I am a: </label>
                        <input type="radio" name="role" value="Student" required> <span style="font-size: 1.5vw; color:blue">Student</span>
                        <input type="radio" name="role" value="Teacher" required> <span style="font-size: 1.5vw; color:green">Teacher</span>
                        <div class="wrapper text-center">
                            <input class="btn btn-secondary mb-3" type="submit" value="Next...">
                            <input name="progress" type="hidden" value=0>
                        </div>
                    </form>
                </div>
            {% else %}
                {% with messages = get_flashed_messages(with_categories=True) %}
                    <div class='col-5 border wrapper text-center'>
                        <h2 style="color:purple"><u>{{role}}s</u>:</h2>
                        <form action="/register" method="post">
                            {% for item in range(info_list|length) %}
                                <div class="form-group row">
                                    <div class="col-5 wrapper text-right">
                                        <label for='{{info_list[item][1]}}'>{{info_list[item][0]}}:</label>
                                    </div>
                                    <div class="col-3 wrapper text-left">
                                        {% if info_list[item][1] == 'name' and progress == 2 %}
                                            <input name="{{info_list[item][1]}}" required type='text' value="{{name}}" size = "30">
                                        {% elif info_list[item][1] == 'school_email' and progress == 2 %}
                                            <input name="{{info_list[item][1]}}" required type='email' value="{{email}}" size = "30">
                                        {% elif info_list[item][1] == 'teacher_email' and progress == 2 %}
                                            <input name="{{info_list[item][1]}}" required type='email' value="{{temail}}" size = "30">
                                        {% else%}
                                            <input name="{{info_list[item][1]}}" type="{{info_list[item][2]}}" placeholder="{{info_list[item][3]}}"size = "30" required>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if messages %}
                                <span class='{{messages[0][0]}}' style="font-size: 14pt">{{messages[0][1]}}</span>
                            {% endif %}
                            <div class='wrapper text-center'>
                                <input type="submit" class="btn btn-success mb-2" value="Register">
                                <input name="progress" type="hidden" value=2>
                                <input name='role' type='hidden' value={{role}}>
                            </div>
                        </form>
                    </div>
                {% endwith %}
            {% endif %}
        </div> 
        <br/>
    </div>
{% endblock %}  