{% extends "base.html" %}

{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Practice with Scientific Notation</u></h1>
        {% if not sciNot %}
            <h2>Convert the following value into <span style="color:rgb(216, 117, 24)">scientific notation</span>.</h2>
        {% else %}
            <h2>Convert the following value into <span style="color:rgb(228, 60, 228)">standard notation</span>.</h2>
        {% endif %}
        <h2 style="color: blue">Keep the same number of significant figures!</h2><br/>

        {% with messages = get_flashed_messages(with_categories=True) %} 
        <form action="/scinotation" method="post">
            {% if not sciNot %}
                <label for="answer" style="font-size: 24pt">{{value}} = </label>
                <input name="answer" type="text" style="font-size: 24pt" value="{{answer}}" size="3">
                <label for="exponent" style="font-size: 24pt">x10</label>
                <sup style="vertical-align: 1.2em"><input name="exponent" type="text" style="font-size: 16pt" value="{{exponent}}" size="1"></sup><br/>
            {% else %}
                <label for="answer" style="font-size: 24pt">{{sciValue}}x10<sup style="vertical-align: 0.5em">{{power}}</sup>= </label>
                <input name="answer" type="text" style="font-size: 24pt" value="{{answer}}" size="9"><br/>
            {% endif %}

            {% for category,message in messages %}
                {% if category != 'error' %}
                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                {% elif sciNot == True %}
                    <div class="btn-group dropright">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                            {{message}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" style="font-size: 24pt; color:red">{{value}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="btn-group dropright">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                            <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" style="font-size: 24pt; color:red">{{sciValue}}x10<sup style="vertical-align: 0.5em">{{power}}</sup></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <br/><br/>
            <input name="value" type="hidden" value="{{value}}">
            <input name="sciNot" type="hidden" value="{{sciNot}}">
            <input name="power" type="hidden" value="{{power}}">
            <input name="sciValue" type="hidden" value="{{sciValue}}">
            <input class="btn btn-success" type="submit" value="Check Answer">
        </form>
        {% endwith %}
        <br/>
        <a class="btn btn-primary" href="scinotation" role="button">Next Practice Problem</a>
        <br/><br/>
        <div>
            <a class="btn btn-danger" href='/sigfigindex' role="button">Sig Figs Menu</a>
        </div>
    </div>

{% endblock %}