{% extends "base.html" %}

{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Calculations with Significant Figures</u></h1>
        <h2>Complete the following calculation.</h2>
        <h2 style="color:blue">Round your answer to the proper number of significant figures.</h2>
        {% if operation == '/' %}
            <p style="font-size: 24pt"><u>{{value1}}</u></p>
            <p style="font-size: 24pt">{{value2}}</p>
        {% elif operation == 'x' %}
            <p style="font-size: 24pt">{{value1}}</p>
            <p style="font-size: 24pt"><u>{{operation}} {{value2}}</u></p>
        {% else %}
            <p style="font-size: 24pt">{{value1}}</p>
            <p style="font-size: 24pt"><u>{{operation}} {{value2}}</u></p>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=True) %} 
        <form action="/sfcalcs" method="post">
            <label for="answer" style="font-size: 18pt; color:blue">Answer: </label>
            <input name="answer" type="text" value="{{answer}}" style="font-size: 18pt" size="10"><br/>
            {% for category,message in messages %}
                {% if category != 'error' %}
                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                {% else %}
                    <div class="btn-group dropright">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                            {{message}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" style="font-size: 24pt; color:red">{{result}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <br/><br/>
            <input name="result" type="hidden" value="{{result}}">
            <input name="value1" type="hidden" value="{{value1}}">
            <input name="value2" type="hidden" value="{{value2}}">
            <input name="operation" type="hidden" value="{{operation}}">
        </form>
        {% endwith %}
        <p style="font-size: 16pt; color:purple">(Hit 'Return' or 'Enter' to check your answer)</p>
        <br/>
        <a class="btn btn-primary" href="sfcalcs" role="button">Next Practice Problem</a>
        <br/><br/>
        <div>
            <a class="btn btn-danger" href='/sigfigindex' role="button">Sig Figs Menu</a>
        </div>
    </div>

{% endblock %}