{% extends "sfcalcstutorialbase.html" %}

{% block content %}
    {% if page == 1 %}
        {% if displayText < 9 %}
            <h2 class = 'wrapper text-left ml-2' style="color:purple"><u><em>ALL</em> measurements contain uncertainty</u>:</h2>
        {% else %}
            <h2 class = 'wrapper text-left ml-2' style="color:blue"><u>Significant figures help us express the uncertainty in a calculated value</u>:</h2>
        {% endif %}
        <div class = "container-fluid wrapper text-center">
            {% if displayText == 1 %}
                <div class="row justify-content-center">
                    <div class="col-4 border wrapper text-center" style="color:blue">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='MeasExLen.png')}}" class="figure-img img-fluid" style="width:90%; height:90%">
                        </figure>
                    </div>
                    <div class="col-4 border wrapper text-center" style="color:green">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='MeasExMass.png')}}" class="figure-img img-fluid" style="width:70%; height:70%">
                        </figure>
                    </div>
                    <div class="col-4 border wrapper text-center" style="color:purple">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='MeasExVol.png')}}" class="figure-img img-fluid" style="width:70%; height:70%">
                        </figure>
                    </div>
                </div>
                <p style="color:green; font-size:1.75vw">When measurements are used in calculations, the uncertainty in the answer is LARGER than the error present in the original data.</p>
            {% elif displayText < 9 %}
                <div class="border-bottom wrapper text-center">
                    <figure class="figure">
                        <img src="{{url_for('static', filename=imageName)}}" class="figure-img img-fluid" {% if displayText > 5 %} style="width:70%; height:70%" {% endif %}>
                    </figure>
                </div>
                <p style="color:green; font-size:1.75vw">{{imageText[displayText-2]}}</p>
            {% else %}
                <div class="row border justify-content-center wrapper text-center">
                    <div class="col-5 border-right wrapper text-center align-self-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='SFCalcs8.png')}}" class="figure-img img-fluid">
                        </figure>
                    </div>
                    <div class="col-5 wrapper text-center align-self-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='SFCalcs9.png')}}" class="figure-img img-fluid" style="width:80%; height:70%">
                        </figure>
                    </div>
                </div>
                <br/>
                <div class="row border justify-content-center wrapper text-center">
                    <div class="col-5 border-right wrapper text-center align-self-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='SFCalcs10.png')}}" class="figure-img img-fluid" style="width:80%; height:70%">
                        </figure>
                    </div>
                    <div class="col-5 wrapper text-center align-self-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='SFCalcs11.png')}}" class="figure-img img-fluid">
                        </figure>
                    </div>
                </div>
                <p class="wrapper text-center" style="color:brown; font-size:1.85vw">Click 'Ok' to examine some basic rules and examples for identifying how many sig figs to keep in a calculated answer.</p>
            {% endif %}
            <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                <input name="displayText" type="hidden" value="{{displayText}}">
                {% if displayText < 9 %}
                    <input class="btn btn-success" type="submit" value="Continue">
                {% else %}
                    <a class="btn btn-info" href="/sfcalcstutorial/{{page+1}}" role="button">Ok</a>
                {% endif %}
            </form>
        </div>
    {% elif page == 2 %}
        <h2 class = 'wrapper text-left ml-2' style="color:blue"><u>Multiplication and Division</u>:</h2>
        <div class = "container-fluid wrapper text-center">
            <div class="row justify-content-center">
                <div class="col-5 border-0 wrapper text-center align-self-center" style="color:blue">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls src="{{url_for('static', filename='MultDiv.mov')}}"></video>
                    </div>
                </div>
                <div class="col-6 border wrapper text-center align-self-center" style="color:brown">
                    {% with messages = get_flashed_messages(with_categories=True) %} 
                        <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                            <p>{{values[0]}}</p>
                            <p><u>x {{values[1]}}</u></p>
                            <label for="answer0" style="font-size:1.75vw; color:black">Answer: </label>
                            <input name="answer0" type="text" value="{{answers[0]}}" style="font-size:1.75vw" size="9"><br/>
                            {% if messages %}
                                {% set message = messages[0] %}
                                {% if message[0] != 'error' %}
                                    <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                                {% else %}
                                    <div class="btn-group dropright">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                            {{message[1]}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[0]}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <hr>
                            {% if flip %}
                                <p><u>{{values[3]}}</u></p>
                                <p>{{values[2]}}</p>
                                "Flipped"
                            {% else %}
                                <p><u>{{values[2]}}</u></p>
                                <p>{{values[3]}}</p>
                            {% endif %}
                            <label for="answer1" style="font-size:1.75vw; color:black">Answer: </label>
                            <input name="answer1" type="text" value="{{answers[1]}}" style="font-size:1.75vw" size="9"><br/>
                            {% if messages %}
                                {% set message = messages[1] %}
                                {% if message[0] != 'error' %}
                                    <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                                {% else %}
                                    <div class="btn-group dropright">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                            {{message[1]}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[1]}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <hr>
                            {% for item in range(4) %}
                                {% if item < 2 %}
                                    <input name="result{{item}}" type="hidden" value="{{results[item]}}">
                                {% endif %}
                                <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                            {% endfor %}
                            <input name="flip" type="hidden" value="{{flip}}">
                            <a class="btn btn-primary mb-3" href="/sfcalcstutorial/{{page}}" role="button">New Numbers</a>
                            {% if numCorrect < 2 %}
                                <input class="btn btn-success mb-3" type="submit" value="Check">
                            {% else %}
                                <a class="btn btn-info mb-3" href="/sfcalcstutorial/{{page+1}}" role="button">Continue...</a>
                            {% endif %}
                        </form>
                    {% endwith %}
                </div>
            </div>
        </div>
    {% elif page == 3 %}
        <h2 class = 'wrapper text-left ml-2' style="color:green"><u>Addition and Subtraction</u>:</h2>
        <div class = "container-fluid wrapper text-center">
            <div class="row justify-content-center wrapper text-center">
                <div class="col-5 border-0 wrapper text-center align-self-center" style="color:blue">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls src="{{url_for('static', filename='AddSub.mov')}}"></video>
                    </div>
                </div>
                <div class="col-6 border wrapper text-center align-self-center" style="color:purple">
                    {% with messages = get_flashed_messages(with_categories=True) %} 
                        <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                            <p>{{values[0]}}</p>
                            <p><u>+ {{values[1]}}</u></p>
                            <label for="answer0" style="font-size:1.75vw; color:black">Answer: </label>
                            <input name="answer0" type="text" value="{{answers[0]}}" style="font-size:1.75vw" size="9"><br/>
                            {% if messages %}
                                {% set message = messages[0] %}
                                {% if message[0] != 'error' %}
                                    <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                                {% else %}
                                    <div class="btn-group dropright">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                            {{message[1]}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[0]}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <hr>
                            <p>{{values[2]}}</p>
                            <p><u>- {{values[3]}}</u></p>
                            <label for="answer1" style="font-size:1.75vw; color:black">Answer: </label>
                            <input name="answer1" type="text" value="{{answers[1]}}" style="font-size:1.75vw" size="9"><br/>
                            {% if messages %}
                                {% set message = messages[1] %}
                                {% if message[0] != 'error' %}
                                    <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                                {% else %}
                                    <div class="btn-group dropright">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                            {{message[1]}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[1]}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <hr>
                            {% for item in range(4) %}
                                {% if item < 2 %}
                                    <input name="result{{item}}" type="hidden" value="{{results[item]}}">
                                {% endif %}
                                <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                            {% endfor %}
                            <a class="btn btn-primary mb-3" href="/sfcalcstutorial/{{page}}" role="button">New Numbers</a>
                            {% if numCorrect < 2 %}
                                <input class="btn btn-success mb-3" type="submit" value="Check">
                            {% else %}
                                <a class="btn btn-info mb-3" href="/sfcalcstutorial/{{page+1}}" role="button">Continue...</a>
                            {% endif %}
                        </form>
                    {% endwith %}
                </div>
            </div>
        </div>
    {% else %}
        <h2 class = 'wrapper text-left ml-2'><u>"Certain" numbers</u>: <span style="color:blue">Sometimes, there is NO error.</span></h2>
        <div class = "container-fluid wrapper text-center" style="font-size:1.75vw">
            <div class="row justify-content-center">
                <div class="col-6 border wrapper text-left" style="color:green">
                    <ul>
                        <li>Numbers that result from <em>counting</em> are considered 'perfect'.</li>
                        {% if displayText > 0 %}
                            <li style="color:purple"><em>Counted</em> numbers do not affect sig figs in calculations.</li>
                        {% endif %}
                        {% if displayText > 1 %}
                            <li>Numbers that are <em>defined</em> are also considered 'perfect'.</li>
                        {% endif %}
                        {% if displayText >= 2 and example > 3 %}
                            <li style="color:brown"><em>Defined</em> numbers do not affect sig figs in calculations.</li>
                        {% endif %}
                        {% if displayText >= 2 and example > 4 %}
                            <li style="color:red">Check the 'Reminder'.  Then move on to the practice page.</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-5 border wrapper text-center" style="color:green">
                    {% if displayText == 0 %}
                        {% with messages = get_flashed_messages(with_categories=True) %} 
                            <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='CertainEx1.png')}}" class="figure-img img-fluid" style="width:65%; height:65%">
                                </figure>
                                {% if response == 0%}
                                    <label for="answer" style="font-size:1.75vw; color:black">Answer: </label>
                                    <input name="answer" type="text" value="{{answer}}" style="font-size:1.75vw" size="9">
                                    <br/>
                                    {% for category,message in messages %}
                                        <span class='{{category}}'>{{message}}</span>
                                    {% endfor %}
                                    <br/>
                                    <input class="btn btn-success mb-2" type="submit" value="Check">
                                {% elif response == 1 %}
                                    <span style="font-size:1.75vw">Are you sure?</span><br/>
                                    <input class="btn btn-success mb-2 btn-lg" type="submit" value="Yes">
                                    <input class="btn btn-danger mb-2" type="submit" value="No" disabled>
                                    <input name="answer" type="hidden" value="3">
                                {% else %}
                                    <span style="font-size:1.75vw">Are you <em style="color:red">CERTAIN</em>????</span><br/>
                                    <input class="btn btn-success btn-lg mb-2" type="submit" value="YES!!!">
                                    <input class="btn btn-danger mb-2 btn-sm" type="submit" value="No" disabled>
                                {% endif %}
                                <br/>
                                <input name="example" type="hidden" value="{{example}}">
                                <input name="response" type="hidden" value="{{response}}">
                                <input name="displayText" type="hidden" value="{{displayText}}">
                            </form>
                        {% endwith %}
                    {% elif displayText == 1 %}
                        <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                            {% if example == 1 %}
                                <img src="{{url_for('static', filename='CertainEx1a.png')}}" class="figure-img img-fluid" style="width:80%; height:80%">
                            {% else %}
                                <img src="{{url_for('static', filename='CertainEx1b.png')}}" class="figure-img img-fluid" style="width:80%; height:80%">
                            {% endif %}
                            <br/>
                            <input class="btn btn-info mb-2" type="submit" value="Continue...">
                            <input name="example" type="hidden" value="{{example}}">
                            <input name="response" type="hidden" value="{{response}}">
                            <input name="displayText" type="hidden" value="{{displayText}}">
                        </form>
                    {% elif displayText == 2 %}
                        <form style="font-size:1.75vw" action="/sfcalcstutorial/{{page}}" method="post">
                            {% if example == 3 %}
                                <img src="{{url_for('static', filename='CertainEx2.png')}}" class="figure-img img-fluid" style="width:80%; height:80%">
                            {% else %}
                                <img src="{{url_for('static', filename='CertainEx2a.png')}}" class="figure-img img-fluid" style="width:80%; height:80%">
                            {% endif %}
                            <br/>
                            <input class="btn btn-info mb-2" type="submit" value="Continue...">
                            <input name="example" type="hidden" value="{{example}}">
                            <input name="response" type="hidden" value="{{response}}">
                            <input name="displayText" type="hidden" value="{{displayText}}">
                        </form>
                    {% else %}
                        <figure class="figure">
                            <img src="{{url_for('static', filename='CertainEx1.png')}}" class="figure-img img-fluid" style="width:65%; height:65%">
                            <hr>
                            <img src="{{url_for('static', filename='CertainEx2.png')}}" class="figure-img img-fluid" style="width:60%; height:60%">
                        </figure>
                        <a class="btn btn-primary mr-2 mb-2" href="/sigfigindex" role="button">Sig Figs Menu</a>
                        <a class="btn btn-danger mb-2" href="/sfcalcs" role="button">More Practice</a>
                    {% endif %}
                </div>
            </div>
            <br/>
            {% if displayText >= 2 and example > 4 %}
                <div class="container-fluid card border-0">
                    <div class="wrapper text-center card-header" id="headingOne">
                        <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h3 style="color:brown"><u>Reminder</u></h2>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body border row justify-content-center">
                            <div class="col-6">
                                <figure class="figure mt-2 mb-0 wrapper text-right">
                                    <img src="{{url_for('static', filename='MultDivRule.png')}}" class="figure-img img-fluid" style="width:85%; height:85%">
                                </figure>
                            </div>
                            <div class="col-6 align-self-center wrapper text-left">
                                <figure class="figure mt-2 mb-0">
                                    <img src="{{url_for('static', filename='MultDivEx.png')}}" class="figure-img img-fluid" style="width:85%; height:85%">
                                </figure>
                            </div>
                            <div class="col-6">
                                <figure class="figure mt-2 mb-0 wrapper text-right">
                                    <img src="{{url_for('static', filename='AddSubRule.png')}}" class="figure-img img-fluid" style="width:85%; height:85%">
                                </figure>
                            </div>
                            <div class="col-6 align-self-center wrapper text-left">
                                <figure class="figure mt-2 mb-0">
                                    <img src="{{url_for('static', filename='AddSubEx.png')}}" class="figure-img img-fluid" style="width:85%; height:85%">
                                </figure>
                            </div>
                        </div>
                    </div> 
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}