{% extends "sftutorialbase.html" %}

{% block content %}
    {% if page == 1 %}
        <h2 class = 'wrapper text-center mr-5'>What are <span style="color:blue">significant figures</span>, and why do we need them?</h2>
    {% elif page == 5 %}
        <h2 class = 'ml-3'><u>Advanced Counting Tasks (optional)</u>:</h2>
    {% else %}
        <h2 class = 'wrapper text-center mr-5'>How do we identify the number of <span style="color:blue">significant figures</span> in a measurement?</h2>
    {% endif %}
    {% if page == 1 %}
        <div class="container-fluid" style="height:500px">
            <div class="row justify-content-center">
                <div class="col-5">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header p-1" id="headingOne">
                                <h3 class="mb-0 text-center" style="color:blue"> 
                                    <button style="font-size:18pt" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Define "Significant Figures"
                                    </button>
                                </h3>
                            </div>
                            {% if displayText == 1 %}
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video controls src="{{url_for('static', filename='DefOfSigFigs.mov')}}"></video>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <figure class="figure">
                                            <img src="{{url_for('static', filename='RulerExamples.png')}}" class="figure-img img-fluid">
                                        </figure>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if displayText >= 2 %}
                            <div class="card">
                                <div class="card-header p-1" id="headingTwo">
                                    <h3 class="mb-0 text-center" style="color:blue">
                                        <button style="font-size:18pt; color:green" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Definition continued
                                        </button>
                                    </h3>
                                </div>
                                {% if displayText == 2 %}
                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video controls src="{{url_for('static', filename='Intro2ZeroRules.mov')}}"></video>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <figure class="figure">
                                                <img src="{{url_for('static', filename='2ndExample.png')}}" class="figure-img img-fluid">
                                            </figure>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="align-self-start col-6">
                    <table class="table table-bordered text-center" style="font-size:1.5vw">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">Student A</th>
                            <th scope="col">Student B</th>
                            <th scope="col">Student C</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">Ruler #1</th>
                                <td>4.6 cm</td>
                                <td>4.7 cm</td>
                                <td>4.8 cm</td>
                            </tr>
                            <tr>
                            <th scope="row">Ruler #2</th>
                                <td>4.75 cm</td>
                                <td>4.76 cm</td>
                                <td>4.78 cm</td>
                            </tr>
                            {% if displayText == 1 %}
                                <tr>
                                <th scope="row">Ruler #3</th>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                <th scope="row">Cylinder</th>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                <th scope="row">Scale</th>
                                    <td></td><td></td><td></td>
                                </tr>
                            {% else %}
                                <tr>
                                <th scope="row">Ruler #3</th>
                                    <td>220 mm</td>
                                    <td>230 mm</td>
                                    <td>230 mm</td>
                                </tr>
                                <tr>
                                <th scope="row">Cylinder</th>
                                    <td>1700 mL</td>
                                    <td>1800 mL</td>
                                    <td>1700 mL</td>
                                </tr>
                                <th scope="row">Scale</th>
                                    <td>0.031 g</td>
                                    <td>0.033 g</td>
                                    <td>0.030 g</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid border border-info justify-content-between">
            <div class="row">
                <div class="col-10">
                    <form action="/sftutorial/{{page}}" method="post">
                        <ul style="font-size:1.7vw">
                            {% if displayText == 1 %}
                                <li>Watch the "Define Significant Figures" clip, and then click "More".</li>
                            {% endif %}
                            {% if displayText >= 2 %}
                                <li><u style="color:blue">Significant Figures</u> - The number of "certain" digits in a measurement PLUS the one "guess" digit.</li>
                            {% endif %}
                            {% if displayText >= 3 %}
                                <li><u style="color:purple">Be careful!</u> Not every digit is significant.</li>
                            {% endif %}
                            {% if displayText < 3 %}
                                <input class="btn-sm btn-success" type="submit" value="More...">
                                <input name="displayText" type="hidden" value="{{displayText}}">
                            {% else %}
                                <li>Review the examples above, then select 'Next' or 'Replay'.</li>
                                <input class="btn-sm btn-danger" type="submit" value="Replay">
                                <input name="displayText" type="hidden" value="0">
                            {% endif %}
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    {% elif page == 2 %}
        <ul>
            <li style="font-size: 18pt"><u>First Rule</u>: <span style="color:blue">All non-zero digits are significant.</span></li>
            <div class="container col row justify-content-start ml-3" style="width:500px">
                <li style="font-size: 14pt">
                    <div class="row justify-content-start text-center">
                        <div class="col"><u>Examples</u>:</div>
                        <div class="col">12 g</div>
                        <div class="col">43.7 mL</div>
                        <div class="col">5.327 m</div>
                        <div class="w-100"></div>
                        <div class="col"></div>
                        <div class="col" style="color:blue">2 sig figs</div>
                        <div class="col" style="color:blue">3 sig figs</div>
                        <div class="col" style="color:blue">4 sig figs</div>
                    </div>
                </li>
            </div>
        </ul><br/>
        <ul>
            <li style="font-size: 18pt"><u>Second Rule</u>: Examine the values below.  The <mark class="alert-sm alert-success">highlighted</mark> zeros are considered 'significant'.</li>
        </ul>
        <figure class="figure">
            <img src="{{url_for('static', filename='1st0example.png')}}" class="figure-img img-fluid ml-4" style="width:70%; height:70%">
        </figure>
        <p class = "ml-4" style="font-size: 18pt; color:purple"><u>Explain</u>: What makes the highlighted zeros significant?</p>
        {% with messages = get_flashed_messages(with_categories=True) %} 
            {% if not secondHalf %}
                <form action="/sftutorial/{{page}}" method="post">
                    <div class="form-group">
                        <input class="form-control ml-4" name = "firstZeroRule" id="firstZeroRule" rows="2" style="width:800px" placeholder="Zeros that..." value="{{answer}}">
                    {% for category,message in messages %}
                        <span class='{{category}} ml-4' style="font-size: 14pt">{{message}}</span>
                    {% endfor %}
                    </div>
                    <span class="container"><input class="btn btn-success" type="submit" value="Submit"></span>
                </form>
            {% endif %}
        {% endwith %}
        {% if secondHalf %}
            <div class="container justify-content-between ml-3">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li style="font-size: 18pt"><u>Your rule</u>: {{answer}}</li>
                            <li style="font-size: 18pt; color:red"><u>Common student responses</u>:</li>
                            <ul style="color:red">
                                <li style="font-size: 16pt">Zeros that come between other sig figs.</li>
                                <li style="font-size: 16pt">Zeros that are surrounded by other sig figs.</li>
                                <li style="font-size: 16pt">A 'zero sandwich'.</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-6 wrapper text-center">
                        <button  style="font-size: 16pt" class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Compare your rule to the common responses, then click here.
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <h3>How well does your answer match other students' ideas?</h3>
                                <p>
                                    <a class="btn btn-success" href="/sftutorial/{{page+1}}" role="button">Good</a>
                                    <a class="btn btn-danger ml-3" href="/sftutorial/{{page}}" role="button">Try again</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% elif page == 3 %}
        <ul>
            <li style="font-size: 18pt"><u>First Rule</u>: <span style="color:green">All non-zero digits are significant.</span></li>
            <li style="font-size: 18pt"><u>Second Rule</u>: <span style="color:blue">{{firstZeroRule}}</span></li>
        </ul>
        <ul>
            <li style="font-size: 18pt"><u>Third Rule</u>: Examine the values below.  The <span style="color:red"><em>RED BOXED</em></span> zeros are considered 'significant'.</li>
        </ul>
        <figure class="figure">
            <img src="{{url_for('static', filename='2nd0example.png')}}" class="figure-img img-fluid ml-4" style="width:40%; height:40%">
        </figure>
        <p class = "ml-4" style="font-size: 18pt; color:purple"><u>Explain</u>: What makes the boxed zeros significant? (There are TWO factors to notice).</p>
        {% with messages = get_flashed_messages(with_categories=True) %} 
            {% if not secondHalf %}
                <form action="/sftutorial/{{page}}" method="post">
                    <div class="form-group">
                        <input class="form-control ml-4" name = "secondZeroRule" id="secondZeroRule" rows="2" style="width:800px" placeholder="Zeros that... AND..." value="{{secondZeroRule}}">
                    {% for category,message in messages %}
                        <span class='{{category}} ml-4' style="font-size: 14pt">{{message}}</span>
                    {% endfor %}
                    </div>
                    <span class="container"><input class="btn btn-success" type="submit" value="Submit"></span>
                </form>
            {% endif %}
        {% endwith %}
        {% if secondHalf %}
            <div class="container justify-content-between ml-3">
                <div class="row">
                    <div class="col-7">
                        <ul>
                            <li style="font-size: 18pt"><u>Your rule</u>: {{secondZeroRule}}</li>
                            <li style="font-size: 18pt; color:red"><u>Common student responses</u>:</li>
                            <ul style="color:red">
                                <li style="font-size: 16pt">Zeros at the end of the number AND after the decimal.</li>
                                <li style="font-size: 16pt">Zeros that are after the decimal AND follow a non-zero digit.</li>
                                <li style="font-size: 16pt">Trailing zeros after the decimal.</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-5 wrapper text-center">
                        <button  style="font-size: 16pt" class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Compare your rule to the common responses, then click here.
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <h3>How well does your answer match other students' ideas?</h3>
                                <p>
                                    <a class="btn btn-success" href="/sftutorial/{{page+1}}" role="button">Good</a>
                                    <a class="btn btn-danger ml-3" href="/sftutorial/{{page}}" role="button">Try again</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% elif page == 4 %}
        <ul>
            <li style="font-size: 18pt"><u>First Rule</u>: <span style="color:green">All non-zero digits are significant.</span></li>
            <li style="font-size: 18pt"><u>Second Rule</u>: <span style="color:blue">{{firstZeroRule}}</span></li>
            <li style="font-size: 18pt"><u>Third Rule</u>: <span style="color:red">{{secondZeroRule}}</span></li>
        </ul>
        <p class = "ml-4" style="font-size: 18pt;"><u>Check Yourself</u> - Identify the number of significant figures in each of the following:</p>
        <ol type="a" style="font-size: 18pt" class="ml-3">
            <li style="color:blue">0.0030700 has  
                <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" data-html="true" title="five (0.00<u>30700</u>)">
                    ___________
                </button>
                significant figures according to rules 
                <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="1, 2 and 3">
                    ___________
                </button>.
            </li><br/>
            <li style="color:green">10,020,000 has 
                <button style="color:green" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" data-html="true" title="four (<u>10,02</u>0,00)">
                    ___________
                </button>
                significant figures according to rules 
                <button style="color:green" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="1 and 2">
                    ___________
                </button>.
            </li><br/>
            <li style="color:purple">5.00 has 
                <button style="color:purple" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" data-html="true" title="three (<u>5.00</u>)">
                    ___________
                </button>
                significant figures according to rules 
                <button style="color:purple" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="1 and 3">
                    ___________
                </button>.
            </li>
        </ol>
        <p class = "ml-5" style="font-size: 18pt; color:brown">(Hover over the lines to check your thinking).</p>
        <div class="wrapper text-center">
            <button style="font-size: 16pt" class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Click here when you are ready to move on...
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <h3><u>Choose your next step</u>:
                        <a class="btn btn-success ml-2" href="/countingsf" role="button">Practice Counting Sig Figs</a>
                        <a class="btn btn-primary ml-2" href="/sigfigindex" role="button">Sig Fig Menu</a>
                        <a class="btn btn-danger ml-2" href="/sftutorial/{{page+1}}" role="button">Advanced Counting</a>
                    </h3>
                </div>
            </div>
        </div>
    {% else %}
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h3 class="mb-0" style="color:green">
                        A) The number "300.0" has four significant figures, but "300" has only one.  
                        <button style="font-size:16pt" class="btn btn-outline-success collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Explain why.
                        </button>
                    </h3>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body wrapper text-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='AdvancedCounting1.jpeg')}}" class="figure-img img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h3 class="mb-0" style="color:blue">
                            B) How do we deal with significant figures AND scientific notation?
                        <button style="font-size:16pt" class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Explore...
                        </button>
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body wrapper text-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='AdvancedCounting2.jpeg')}}" class="figure-img img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h3 class="mb-0" style="color:red">
                            C) What if the meaurement "200 g" has two significant figures?  How do we show this?
                        <button style="font-size:16pt" class="btn btn-outline-danger collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Ambiguous zeros?
                        </button>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body wrapper text-center">
                        <figure class="figure">
                            <img src="{{url_for('static', filename='AdvancedCounting3.jpeg')}}" class="figure-img img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="wrapper text-left ml-3">
            <h3>
                <u>Now take the next step</u>:
                <a class="btn btn-success ml-2" href="/countingsf" role="button">Practice Counting Sig Figs</a>
            </h3>
        </div>
    {% endif %}
{% endblock %}