{% extends "base.html" %}

{% block content %}
    {% if not changed %}
        <div class="container-fluid wrapper text-left">
            <h2><u>Enter your new information</u>:</h2>
            {% with messages = get_flashed_messages(with_categories=True) %}
                <form action="/updateinfo" method="post">
                    {% for item in range(info_list|length) %}
                        <div class="col-4 wrapper text-right">
                            <label for='{{info_list[item]}}'>{{info_list[item]}}: </label>
                            <input name="{{info_list[item]}}" type="text" value="{{user_list[item]}}"size = "20" {% if info_list[item] != 'class2' %} required {% endif %}>
                        </div>
                    {% endfor %}
                    {% if messages %}
                        <span class='{{messages[0][0]}}' style="font-size: 14pt">{{messages[0][1]}}</span>
                    {% endif %}
                    <div class='wrapper text-left'>
                        <input type="submit" class="btn btn-success" value="Update">
                        <a class="btn btn-secondary ml-2" href="/userinfo" role="button">Back</a>
                    </div>
                </form>
            {% endwith %}
        </div>
    {% else %}
        <div class="container-fluid wrapper text-center">
            <h2>Your information has been updated.</h2>
            <a class="btn btn-secondary ml-2" href="/userinfo" role="button">Back</a>
            <a class="btn btn-primary ml-2" href="/" role="button">Main Menu</a>
        </div>
    {% endif %}
{% endblock %}