{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between mt-2" role="toolbar">
        <div class="ml-3">
            <a class="btn btn-primary" href="/" role="button">Main Menu</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1 class="wrapper text-center"><u>Information</u></h1>
        </div>
        <div class="mr-3">
            <a href="/logout" class="btn btn-danger mb-2" role="button">Logout</a>
        </div>
    </div> 
    <br/>
    <div class="container-fluid" style="font-size:1.5vw">
        {% if role.lower() == "teacher" %}
            <div class="row">
                <div class="col-5">
                    <p><u>Hello {{user.name}}, here is what we have on file for you</u>:</p>
                    <ul>
                        <li style="color:blue">School e-mail = {{user.email}}</li>
                        <li style="color:green">Class #1 = {{user.class1}}</li>
                        <li style="color:purple">Class #2 = {{user.class2}}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p><u>Actions</u>:</p>
                    <a class="btn btn-sm btn-info" href="/classlists" role="button">Assign Students to Classes</a><br/>
                    <a class="btn btn-sm btn-success" href="/changeroster/add" role="button">Add a Student</a>
                    <a class="btn btn-sm btn-warning" href="/changeroster/remove" role="button">Remove Students</a><br/>
                    <a class="btn btn-sm btn-secondary" href="/changepw" role="button">Change Password</a><br/>
                    <a class="btn btn-sm btn-danger" href="/deleteaccount" role="button">Delete My Account</a>
                    </ul>
                </div>
                <div class="col-3 wrapper">
                    <p><u>Display classes</u>:</p>
                    <form action="/userinfo" method="post">
                        {% for course in classList %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="display" value="{{course}}" {% if course in displayOption %} checked {% endif %}>
                                <label class="form-check-label" for="display">{% if course != 'None' %}{{course}}{% else %}No class assigned{% endif %}</label>
                            </div>
                        {% endfor %}
                        <input class="btn btn-sm btn-success ml-5" type="submit" value="Go">
                    </form>
                </div>
            </div>
            <p style="color:brown"><u>Your students' skill check results</u>:</p>
            <div class="table-responsive">
                <table class="table table-sm table-bordered wrapper text-center" style="font-size:1.1vw">
                    <thead>
                    <tr>
                        {% for item in range(headings|length) %}
                            <th scope="col" {% if item%2 != 0 %} style="color:blue" {% endif %}>{{headings[item]}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in student_data %}
                            <tr>
                                {% for item in range(row|length) %}
                                    <td {% if item%2 != 0 %} style="color:blue" {% endif %}>{{row[item]}}{% if row[item][0].isdigit() %}%{% endif %}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                            <tr>
                                <td> Averages:</td>
                                <td>  </td>
                                <td>  </td>
                                {% for item in range(averages|length) %}
                                    <td style="color:red">{{averages[item]}}%</td>
                                {% endfor %}
                            </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <p><u>Hello {{user.name}}, here is what we have on file for you</u>:</p>
            <ul>
                <li style="color:blue">School e-mail = {{user.school_email}}</li>
                <li style="color:green">Teacher's e-mail = {{user.teacher_email}}</li>
                <li><a class="btn btn-sm btn-secondary" href="/changepw" role="button">Change Password</a></li>
                <li><a class="btn btn-sm btn-warning" href="/deleteaccount" role="button">Delete My Account</a></li>
            </ul>
            <p style="color:brown"><u>Summary of your skill assessments</u>:</p>
            <div class="table-responsive">
                <table class="table table-sm table-bordered wrapper text-center" style="font-size:1.1vw">
                    <thead>
                    <tr>
                        <th>Skills:</th>
                        {% for item in range(headings|length) %}
                            <th scope="col" {% if item%2 == 0 %} style="color:blue" {% endif %}>{{headings[item]}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Results:</td>
                        {% for item in range(student_data|length) %}
                            <td {% if item%2 == 0 %} style="color:blue" {% endif %}>{{student_data[item]}}{% if student_data[item] != 'None' %}%{% endif %}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}